.aboutMe {
  margin: 15px 0;
  line-height: 30px;
}


ul{
  display: flex;
  justify-content: space-around;
  padding: 0 150px;
}

li {
  list-style: none;
  display: inline;
}

img:hover{
  
  -webkit-filter: drop-shadow(5px 5px 5px #94B0ED);
  filter: drop-shadow(5px 5px 5px #94B0ED);
}
