.homePage-header {
  /* height: 600px; */
  text-align: center;
  margin: 0 auto;
}

h1 {
  background-image: linear-gradient(to bottom right, #89D2DC, #6564DB);
  height: 120px;
  color: white;
  line-height: 120px;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius:  4px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.homePage{
  background-size: cover;
  height: 600px;
  margin-top: -40px;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}


#home-btn {
  width: 180px;
}

@media(max-width: 450px) {
  h1 {
    font-size: 30px;
  }
  .homePage {
    font-size: 20px;
    height: 450px;
  }
  button {
    font-size: 10px;
  }
  #home-btn {
    height: 60px;
  }

}
