@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Rajdhani:wght@600&display=swap');

.projectsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectsImg {
  width: 600px;
  border: 5px solid #6564DB;
  border-radius: 4px;

}

.foodBibleWrapper {
  position: relative;
  height: 414.062px;
  width: 600px;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #2F3138;
}

.TicTacToeWrap {
  position: relative;
  height: 529.809px;
  width: 600px;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #6689A1;
}
.TrippingWrap {
  position: relative;
  height: 346.944px;
  width: 600px;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.MohakaWrap {
  position: relative;
  height: 466.753px;
  width: 600px;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.foodieDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(101, 100, 219, 0.90);
  color: white;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 5px;
  border: 0;
  text-align: justify;
  padding: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  transition: opacity .2s, visibility .2s;
}

h4 {
  font-size: 27px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

.mohakaUL {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.foodBibleWrapper:hover .foodieDescription {
  visibility: visible;
  opacity: 1;
}
.TicTacToeWrap:hover .foodieDescription {
  visibility: visible;
  opacity: 1;
}
.TrippingWrap:hover .foodieDescription {
  visibility: visible;
  opacity: 1;
}
.MohakaWrap:hover .foodieDescription {
  visibility: visible;
  opacity: 1;
}
